{% extends 'layout.html' %}
{% block pageTitle %}
  Content page template - NHS prototype kit
{% endblock %}

{% block beforeContent %}





    
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="/">Home</a>
        </li>
        <li class="nhsuk-breadcrumb__item">Select Organisation</li>
      </ol>
      <p class="nhsuk-breadcrumb__back">
        <a class="nhsuk-breadcrumb__backlink" href="/">Back to home</a>
      </p>
    </div>
  </nav>


    <div class="nhsuk-width-container">
      <main class="nhsuk-main-wrapper" id="maincontent" role="main">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            
  <h1 class="nhsuk-heading-xl">Select organisation</h1>

  <form action="/modify-endpoint" method="get" novalidate>
    <div class="nhsuk-form-group">
      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
          <h2 class="nhsuk-fieldset__heading">
            Which organisation do you want to modify?
          </h2>
        </legend>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="search-org">
            Search for an organisation (need to make this into an autocomplete of ODS codes)
          </label>
          <div class="nhsuk-hint" id="search-org-hint">
            Enter the organisation name or code
          </div>
          <input class="nhsuk-input nhsuk-input--width-20" id="search-org" name="search-org" type="text" 
                 aria-describedby="search-org-hint">
        </div>






<div class="autocomplete__wrapper">
  <select class="govuk-select" id="country" name="country"
    data-module="autocomplete" data-autoselect="" data-display-menu="" data-min-length="" data-show-all-values="" data-show-no-options-found="">
    <option value="" selected disabled>Select an option</option>
    <option value="Austria">Austria</option>
    <option value="Belgium">Belgium</option>
    <option value="Bulgaria">Bulgaria</option>
    <option value="Croatia">Croatia</option>
    <option value="Republic of Cyprus">Republic of Cyprus</option>
    <option value="Czech Republic">Czech Republic</option>
    <option value="Denmark">Denmark</option>
    <option value="Estonia">Estonia</option>
    <option value="Finland">Finland</option>
    <option value="France">France</option>
    <option value="Germany">Germany</option>
    <option value="Greece">Greece</option>
    <option value="Hungary">Hungary</option>
    <option value="Ireland">Ireland</option>
    <option value="Italy">Italy</option>
    <option value="Latvia">Latvia</option>
    <option value="Lithuania">Lithuania</option>
    <option value="Luxembourg">Luxembourg</option>
    <option value="Malta">Malta</option>
    <option value="Netherlands">Netherlands</option>
    <option value="Poland">Poland</option>
    <option value="Portugal">Portugal</option>
    <option value="Romania">Romania</option>
    <option value="Slovakia">Slovakia</option>
    <option value="Slovenia">Slovenia</option>
    <option value="Spain">Spain</option>
    <option value="Sweden">Sweden</option>
  </select>
</div>
    

    <div class="nhsuk-button-group">
      <button class="nhsuk-button" type="submit"><a href="https://nhs-epr-ui-13cb23fc87a1.herokuapp.com/organisation">
        Continue
      </button>

    </div>
  </form>

          </div>
        </div>
      </main>
    </div>

   
    
  <script src="/static/js/form-validation.js"></script>

  </body>
</html>{% endblock %}