{% extends 'layout.html' %}
{% block pageTitle %}
  Content page template - NHS prototype kit
{% endblock %}

{% block beforeContent %}





    
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" href="/">Home</a>
        </li>
        <li class="nhsuk-breadcrumb__item">Select Organisation</li>
      </ol>
      <p class="nhsuk-breadcrumb__back">
        <a class="nhsuk-breadcrumb__backlink" href="/">Back to home</a>
      </p>
    </div>
  </nav>


    <div class="nhsuk-width-container">
      <main class="nhsuk-main-wrapper" id="maincontent" role="main">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            
  <h1 class="nhsuk-heading-xl">Select organisation</h1>

  <form action="/modify-endpoint" method="get" novalidate>
    <div class="nhsuk-form-group">
      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
          <h2 class="nhsuk-fieldset__heading">
            Which organisation do you want to modify?
          </h2>
        </legend>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="search-org">
            Search for an organisation (need to make this into an autocomplete of ODS codes)
          </label>
          <div class="nhsuk-hint" id="search-org-hint">
            Enter the organisation name or code
          </div>
          <input class="nhsuk-input nhsuk-input--width-20" id="search-org" name="search-org" type="text" 
                 aria-describedby="search-org-hint">
        </div>

        <div class="nhsuk-radios">
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="org-1" name="organisation" type="radio" value="org1">
            <label class="nhsuk-label nhsuk-radios__label" for="org-1">
              NHS Digital (X09)
            </label>
          </div>

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="org-2" name="organisation" type="radio" value="org2">
            <label class="nhsuk-label nhsuk-radios__label" for="org-2">
              NHS England (X24)
            </label>
          </div>

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="org-3" name="organisation" type="radio" value="org3">
            <label class="nhsuk-label nhsuk-radios__label" for="org-3">
              Leeds Teaching Hospitals (RR8)
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="nhsuk-button-group">
      <button class="nhsuk-button" type="submit">
        Continue
      </button>

      <a href="/" class="nhsuk-button nhsuk-button--secondary">
        Cancel
      </a>
    </div>
  </form>

          </div>
        </div>
      </main>
    </div>

   
    
  <script src="/static/js/form-validation.js"></script>

  </body>
</html>{% endblock %}