{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Check your answers template - NHS prototype kit
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    "href": "/question-page-mhs-08",
    "text": "Back"
  }) }}
{% endblock %}
{% block content %}

<body class="govuk-template__body ">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">
        Check your answers before registering your new endpoint
      </h1>




      <h2 class="nhsuk-heading-m">
       Product details
      </h2>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Fully qualified domain name"
            },
            value: {
              text: "service-name"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "NHS number"
                }
              ]
            }
          },
          {
            key: {
              text: "Service description"
            },
            value: {
              text: "service-description"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Manufacturer organisation"
            },
            value: {
              html: "manufacturer-organisation"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          },
          {
            key: {
              text: "Product name"
            },
            value: {
              html: 'product-name'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "home address"
                }
              ]
            }
          }
        ]
      }) }}
{{ summaryList({
        rows: [
          {
            key: {
              text: "Product version"
            },
            value: {
              text: "product-version"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "NHS number"
                }
              ]
            }
          },
          {
            key: {
              text: "Approver PRP"
            },
            value: {
              text: "approver-prp"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "DNS approver"
            },
            value: {
              html: "dns-approver"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          },
          {
            key: {
              text: "Requestor universal render pipeline"
            },
            value: {
              html: 'urp-details'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "home address"
                }
              ]
            }
          }
        ]
      }) }}
      <h2 class="nhsuk-heading-m">
        Now send your application
      </h2>

      <p>
        By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <a href="/confirmation-page-mhs" class="nhsuk-button">
        Accept and send registration
      </a>

    </div>
  </div>
{% endblock %}
