{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Check your answers template - NHS prototype kit
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    "href": "/question-page-mhs-08",
    "text": "Back"
  }) }}
{% endblock %}
{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">
        Check your answers before registering your new endpoint
      </h1>




      <h2 class="nhsuk-heading-m">
       Product details
      </h2>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Fully qualified domain name"
            },
            value: {
              text: "<p>{{ data['FQDN'] }}</p>"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "NHS number"
                }
              ]
            }
          },
          {
            key: {
              text: "Request type"
            },
            value: {
              text: "New end point"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Date of registration"
            },
            value: {
              html: "15 March 2025"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          },
          {
            key: {
              text: "Organisation address"
            },
            value: {
              html: '8 Bridgewater Place<br>Leeds<br>LS11 5BZ'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "home address"
                }
              ]
            }
          }
        ]
      }) }}

    

      <h2 class="nhsuk-heading-m">
        Now send your application
      </h2>

      <p>
        By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <a href="/confirmation-page-mhs" class="nhsuk-button">
        Accept and send registration
      </a>

    </div>
  </div>
{% endblock %}
