{% extends 'layout.html' %}

{% block pageTitle %}
  Content page template - NHS prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "#",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
     My products
      </h1>


    <div class="moj-scrollable-pane">
      <table class="govuk-table">

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">

            <th scope="col" class="govuk-table__header">Product name</th>

            <th scope="col" class="govuk-table__header">Originator</th>

            <th scope="col" class="govuk-table__header">Product ID</th>

            <th scope="col" class="govuk-table__header">Status</th>

            <th scope="col" class="govuk-table__header">Submitted on</th>

          </tr>
        </thead>

        <tbody class="govuk-table__body">

          <tr class="govuk-table__row">

            <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">44455453</a></th>

            <td class="govuk-table__cell">John Smith</td>

            <td class="govuk-table__cell">Blue</td>

            <td class="govuk-table__cell">Complete</td>

            <td class="govuk-table__cell">25 Jan 2018</td>

          </tr>

          <tr class="govuk-table__row">

            <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">12323212</a></th>

            <td class="govuk-table__cell">Warren Sutton</td>

            <td class="govuk-table__cell">Yellow</td>

            <td class="govuk-table__cell">In progress</td>

            <td class="govuk-table__cell">25 Jan 2018</td>

          </tr>

          <tr class="govuk-table__row">

            <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">45678765</a></th>

            <td class="govuk-table__cell">Alan Jones</td>

            <td class="govuk-table__cell">Yellow</td>

            <td class="govuk-table__cell">In progress</td>

            <td class="govuk-table__cell">9 May 2018</td>

          </tr>

          <tr class="govuk-table__row">

            <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">12345678</a></th>

            <td class="govuk-table__cell">Jennifer Langley</td>

            <td class="govuk-table__cell">Yellow</td>

            <td class="govuk-table__cell">In progress</td>

            <td class="govuk-table__cell">9 May 2018</td>

          </tr>

          <tr class="govuk-table__row">

            <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">89009800</a></th>

            <td class="govuk-table__cell">Susan Francis</td>

            <td class="govuk-table__cell">Red</td>

            <td class="govuk-table__cell">Incomplete</td>

            <td class="govuk-table__cell">9 May 2018</td>

          </tr>

          <tr class="govuk-table__row">

            <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">44455453</a></th>

            <td class="govuk-table__cell">John Smith</td>

            <td class="govuk-table__cell">Blue</td>

            <td class="govuk-table__cell">Complete</td>

            <td class="govuk-table__cell">25 Jan 2018</td>

          </tr>

          <tr class="govuk-table__row">

            <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">12323212</a></th>

            <td class="govuk-table__cell">Warren Sutton</td>

            <td class="govuk-table__cell">Yellow</td>

            <td class="govuk-table__cell">In progress</td>

            <td class="govuk-table__cell">25 Jan 2018</td>

          </tr>

          <tr class="govuk-table__row">

            <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">45678765</a></th>

            <td class="govuk-table__cell">Alan Jones</td>

            <td class="govuk-table__cell">Yellow</td>

            <td class="govuk-table__cell">In progress</td>

            <td class="govuk-table__cell">9 May 2018</td>

          </tr>

          <tr class="govuk-table__row">

            <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">12345678</a></th>

            <td class="govuk-table__cell">Jennifer Langley</td>

            <td class="govuk-table__cell">Yellow</td>

            <td class="govuk-table__cell">In progress</td>

            <td class="govuk-table__cell">9 May 2018</td>

          </tr>

          <tr class="govuk-table__row">

            <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">89009800</a></th>

            <td class="govuk-table__cell">Susan Francis</td>

            <td class="govuk-table__cell">Red</td>

            <td class="govuk-table__cell">Incomplete</td>

            <td class="govuk-table__cell">9 May 2018</td>

          </tr>

          <tr class="govuk-table__row">

            <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">45456765</a></th>

            <td class="govuk-table__cell">John Smith</td>

            <td class="govuk-table__cell">Red</td>

            <td class="govuk-table__cell">Incomplete</td>

            <td class="govuk-table__cell">9 May 2018</td>

          </tr>

          <tr class="govuk-table__row">

            <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">88675411</a></th>

            <td class="govuk-table__cell">Margaret Blake</td>

            <td class="govuk-table__cell">Red</td>

            <td class="govuk-table__cell">Incomplete</td>

            <td class="govuk-table__cell">9 May 2018</td>

          </tr>

          <tr class="govuk-table__row">

            <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">44455453</a></th>

            <td class="govuk-table__cell">John Smith</td>

            <td class="govuk-table__cell">Blue</td>

            <td class="govuk-table__cell">Complete</td>

            <td class="govuk-table__cell">25 Jan 2018</td>

          </tr>

          <tr class="govuk-table__row">

            <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">12323212</a></th>

            <td class="govuk-table__cell">Warren Sutton</td>

            <td class="govuk-table__cell">Yellow</td>

            <td class="govuk-table__cell">In progress</td>

            <td class="govuk-table__cell">25 Jan 2018</td>

          </tr>

          <tr class="govuk-table__row">

            <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">45678765</a></th>

            <td class="govuk-table__cell">Alan Jones</td>

            <td class="govuk-table__cell">Yellow</td>

            <td class="govuk-table__cell">In progress</td>

            <td class="govuk-table__cell">9 May 2018</td>

          </tr>

          <tr class="govuk-table__row">

            <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">12345678</a></th>

            <td class="govuk-table__cell">Jennifer Langley</td>

            <td class="govuk-table__cell">Yellow</td>

            <td class="govuk-table__cell">In progress</td>

            <td class="govuk-table__cell">9 May 2018</td>

          </tr>

        </tbody>
      </table>

    </div>
  </div>
       <p>
   <h2>  
   Add an end point<br>
   Modify an end point<br>
   Delete an end point</h2>   Visit the
          <a href="https://service-manual.nhs.uk">NHS digital service manual</a>
        for guidance and code examples.
      </p>

    </div>

  </div>
{% endblock %}
