<head>
  <link rel="stylesheet" href="/public/css/govuk-frontend.min.css">
 
</head>
{% extends 'layout.html' %}




{% block pageTitle %}
  Content page template - NHS prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "#",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
 <h1>Select the organisation</h1>

      <p>Choose which organisation's products and endpoints you want to view</p>

      <form action="form.html" method="get">
        <label for="last-location">s</label>
        <div class="autocomplete-wrapper">
        <select name="last-location" id="choose-organisation">
            <option value="AB1001">THE DENSHAM SURGERY (AB1001)</option>
            <option value="AB1002">QUEENS PARK MEDICAL CENTRE (AB1002)</option>
            <option value="AB1003">VICTORIA MEDICAL PRACTICE (AB1003)</option>
            <option value="AB1004">ACKLAM MEDICAL CENTRE (AB1004)</option>
            <option value="AB1005">SPRINGWOOD SURGERY (AB1005)</option>
            <option value="AB1006">TENNANT STREET MEDICAL PRACTICE (AB1006)</option>
            <option value="AB1007">BANKHOUSE SURGERY (AB1007)</option>
            <option value="AB1008">ALBERT HOUSE CLINIC (AB1008)</option>
            <option value="AB1009">VILLAGE MEDICAL CENTRE (AB1009)</option>
            <option value="AB1011">CHADWICK PRACTICE (AB1011)</option>
            <option value="AB1012">WESTBOURNE MEDICAL CENTRE (AB1012)</option>
            <option value="AB1013">BROTTON SURGERY (AB1013)</option>
            <option value="AB1014">QUEENSTREE PRACTICE (AB1014)</option>
            <option value="AB1015">LAGAN SURGERY (AB1015)</option>
            <option value="AB1016">PARK SURGERY (AB1016)</option>
            <option value="AB1017">WOODBRIDGE PRACTICE (AB1017)</option>
            <option value="AB1018">BENTLEY MEDICAL PRACTICE (AB1018)</option>
            <option value="AB1019">CROSSFELL HEALTH CENTRE (AB1019)</option>
            <option value="AB1020">MARTONSIDE MEDICAL CENTRE (AB1020)</option>
            <option value="AB1021">NORMANBY MEDICAL CENTRE (AB1021)</option>
            <option value="AB1022">HILLSIDE PRACTICE (AB1022)</option>
            <option value="AB1023">THE ENDEAVOUR PRACTICE (AB1023)</option>
            <option value="AB1024">THE DOVECOT SURGERY (AB1024)</option>
            <option value="AB1026">LINTHORPE SURGERY (AB1026)</option>
            <option value="AB1027">YARM MEDICAL PRACTICE (AB1027)</option>
            <option value="AB1029">PROSPECT SURGERY (AB1029)</option>
            <option value="AB1030">BOROUGH ROAD & NUNTHORPE MEDICAL GROUP (AB1030)</option>
            <option value="AB1031">HAVELOCK GRANGE PRACTICE (AB1031)</option>
            <option value="AB1032">THE GARTH (AB1032)</option>
            <option value="AB1033">MAYFIELD MEDICAL PRACTICE (AB1033)</option>
            <option value="AB1034">THORNABY & BARWICK MEDICAL GROUP (AB1034)</option>
            <option value="AB1035">NEWLANDS MEDICAL CENTRE (AB1035)</option>
            <option value="AB1036">CAMBRIDGE MEDICAL GROUP (AB1036)</option>
            <option value="AB1037">THE ERIMUS PRACTICE (AB1037)</option>
            <option value="AB1038">HIRSEL MEDICAL CENTRE (AB1038)</option>
            <option value="AB1039">EAGLESCLIFFE MEDICAL PRACTICE (AB1039)</option>
        </select>
    </div>
</body>
</html>
          </select>
        </div>

          <a href="/auto" class="nhsuk-button">

        <button type="submit">Select this organisation</button><a>
      </form>
    </main>

    <script type="text/javascript" src="../dist/accessible-autocomplete.min.js"></script>
    <script type="text/javascript">
      var selectEl = document.querySelector('#last-location')
      accessibleAutocomplete.enhanceSelectElement({
        autoselect: true,
        defaultValue: selectEl.options[selectEl.options.selectedIndex].innerHTML,
        minLength: 2,
        selectElement: selectEl
      })

      selectEl = document.querySelector('#passport-location')
      accessibleAutocomplete.enhanceSelectElement({
        autoselect: true,
        defaultValue: selectEl.options[selectEl.options.selectedIndex].innerHTML,
        minLength: 2,
        selectElement: selectEl
      })

      var queryStringParameters = window.location.search
      var previouslySubmitted = queryStringParameters.length > 0
      if (previouslySubmitted) {
        var submittedEl = document.querySelector('.submitted')
        submittedEl.classList.remove('submitted--hidden')
        var params = new URLSearchParams(document.location.search.split('?')[1])
        document.querySelector('.submitted__last-location').innerHTML = params.get('last-location')
        document.querySelector('.submitted__passport-location').innerHTML = params.get('passport-location')
      }
    </script>
  </body>
</html>{% endblock %}
