{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Developer account (external) - NHS
{% endblock %}

{% block header %}
<header class="nhsuk-header nhsuk-header__transactional" role="banner">

  <div class="nhsuk-header__container">

    <div class="nhsuk-header__logo nhsuk-header__transactional--logo nhsuk-u-width-one-quarter"><a class="nhsuk-header__link" href="/" aria-label="NHS homepage">

        <svg class="nhsuk-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 16" height="40" width="100">
          <path class="nhsuk-logo__background" fill="#005eb8" d="M0 0h40v16H0z"></path>
          <path class="nhsuk-logo__text" fill="#fff" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
        </svg>

      </a>
    </div>
    <div class="nhsuk-header__transactional-service-name nhsuk-u-width-one-quarter">
      <a class="nhsuk-header__transactional-service-name--link" href="">NHS Developer Hub</a>
    </div>
    <div class="nhsuk-header__transactional-service-name nhsuk-u-margin-top-1 nhsuk-u-width-one-half nhsuk-u-text-align-right">
      <a style="color: #ffffff" ">Sign out</a>
    </div>

  </div>
 
  <div class="nhsuk-navigation-container">
    <nav class="nhsuk-navigation" id="header-navigation" role="navigation" aria-label="Primary navigation">
      <ul class="nhsuk-header__navigation-list">
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link" href="https://nhsd-confluence.digital.nhs.uk/display/APM/API+producer+zone">
            Lorem ipsum
          </a>
        </li>
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link" href="https://digital.nhs.uk/developer/api-catalogue">
            API catalogue
          </a>
        </li>
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link" href="https://digital.nhs.uk/services/api-platform/developer-community">
            NHS developer community
          </a>
        </li>
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link" href="https://onboarding.prod.api.platform.nhs.uk/MyApplications">
            Environment access
          </a>
        </li>
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link" href="https://onboarding.prod.api.platform.nhs.uk/Products">
            Product onboarding
          </a>
        </li>
      </ul>
    </nav>
  </div>

</header>

{% endblock %}

{% block beforeContent %}
<div class="nhsuk-width-container app-width-container--full">

</div>

{% endblock %}


{% block outerContent %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <section class="nhsuk-hero">
    <div class="nhsuk-width-container nhsuk-hero--border">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              
                <div class="nhsuk-hero__wrapper">
                    <h1 class="nhsuk-u-margin-bottom-4">My developer hub</h1>
 
                    <p class="nhsuk-u-margin-bottom-0">Access everything you need to integrate with our APls for testing, assurance and maintenance.</p>
                </div>
            </div>
        </div>
    </div>
  </section>
</div>

<div class="nhsuk-grid-row nhsuk-u-padding-top-9">
  <ul class="nhsuk-list">
    <li class="nhsuk-grid-column-one-third">
      <h2 class="nhsuk-card__heading nhsuk-heading-m">
        Introduction and onboarding
      </h2>
      <ul class="nhsuk-list">
        <li><a class="nhsuk-link--no-visited-state" href="https://onboarding.prod.api.platform.nhs.uk/Products">Product onboarding</a></li>
      </ul>   
    </li>
    <li class="nhsuk-grid-column-one-third">
      <h2 class="nhsuk-card__heading nhsuk-heading-m">
      Access and test
      </h2>
      <ul class="nhsuk-list">
        <li><a class="nhsuk-link--no-visited-state" href="https://nhsd-confluence.digital.nhs.uk/display/APM/Designing+your+API">Environment access</a></li>        
      </ul>
    </li>
    <li class="nhsuk-grid-column-one-third ">
      <h2 class="nhsuk-card__heading nhsuk-heading-m">
       Support
      </h2>
            <ul class="nhsuk-list">
        <li><a class="nhsuk-link--no-visited-state" href="https://nhsd-confluence.digital.nhs.uk/display/APM/Designing+your+API">NHS developer community</a></li>        
      <ul class="nhsuk-list nhsuk-u-margin-top-0">
              <li><a class="nhsuk-link--no-visited-state" href="https://account.servicenow.com/sign-in?client_id=0oakzlc2t3W1goPqt0x7&redirect_uri=https%3A%2F%2Fwww.servicenow.com%2Fsso&response_type=code&state=https%3A%2F%2Fwww.servicenow.com%2Fuk%2F&scope=openid&source_id=www&locale=en-gb">ServiceNow</a></li>
      </ul>
    </li>
  </ul>
</div>
{% endblock %}