{% extends 'layout.html' %}

{% block pageTitle %}
Connecting party manager | End point registration
{% endblock %}
     
{% block beforeContent %}
  {{ breadcrumb({
    href: "#",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  
  
  
<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="country">
      Select your organisation
    </label>
  </h1>
  
  <div class="autocomplete__wrapper"><div style="border: 0px; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin-bottom: -1px; margin-right: -1px; overflow: hidden; padding: 0px; position: absolute; white-space: nowrap; width: 1px;"><div id="country__status--A" role="status" aria-atomic="true" aria-live="polite"></div><div id="country__status--B" role="status" aria-atomic="true" aria-live="polite"></div></div><input aria-expanded="false" aria-owns="country__listbox" aria-autocomplete="list" aria-describedby="country__assistiveHint" autocomplete="off" class="autocomplete__input autocomplete__input--default" id="country" name="" placeholder="" type="text" role="combobox"><ul class="autocomplete__menu autocomplete__menu-- autocomplete__menu--hidden" id="country__listbox" role="listbox"><select class="govuk-select" id="country" name="country"
    data-module="autocomplete" data-autoselect="" data-display-menu="" data-min-length="" data-show-all-values="" data-show-no-options-found="">
    <option value="" selected disabled>Select an option</option>
    <option value="Leyton">Leyton</option>
    <option value="Belgium">Belgium</option>
    <option value="Bulgaria">Bulgaria</option>
    <option value="Croatia">Croatia</option>
    <option value="Republic of Cyprus">Republic of Cyprus</option>
    <option value="Czech Republic">Czech Republic</option>
    <option value="Denmark">Denmark</option>
    <option value="Estonia">Estonia</option>
    <option value="Finland">Finland</option>
    <option value="France">France</option>
    <option value="Germany">Germany</option>
    <option value="Greece">Greece</option>
    <option value="Hungary">Hungary</option>
    <option value="Ireland">Ireland</option>
    <option value="Italy">Italy</option>
    <option value="Latvia">Latvia</option>
    <option value="Lithuania">Lithuania</option>
    <option value="Luxembourg">Luxembourg</option>
    <option value="Malta">Malta</option>
    <option value="Netherlands">Netherlands</option>
    <option value="Poland">Poland</option>
    <option value="Portugal">Portugal</option>
    <option value="Romania">Romania</option>
    <option value="Slovakia">Slovakia</option>
    <option value="Slovenia">Slovenia</option>
    <option value="Spain">Spain</option>
    <option value="Sweden">Sweden</option>
  </select></ul><span id="country__assistiveHint" style="display: none;"></div>
  <select class="govuk-select" id="country" name="country"
    data-module="autocomplete" data-autoselect="" data-display-menu="" data-min-length="" data-show-all-values="" data-show-no-options-found="">
    <option value="" selected disabled>Select an option</option>
    <option value="Leyton">Leyton</option>
    <option value="Belgium">Belgium</option>
    <option value="Bulgaria">Bulgaria</option>
    <option value="Croatia">Croatia</option>
    <option value="Republic of Cyprus">Republic of Cyprus</option>
    <option value="Czech Republic">Czech Republic</option>
    <option value="Denmark">Denmark</option>
    <option value="Estonia">Estonia</option>
    <option value="Finland">Finland</option>
    <option value="France">France</option>
    <option value="Germany">Germany</option>
    <option value="Greece">Greece</option>
    <option value="Hungary">Hungary</option>
    <option value="Ireland">Ireland</option>
    <option value="Italy">Italy</option>
    <option value="Latvia">Latvia</option>
    <option value="Lithuania">Lithuania</option>
    <option value="Luxembourg">Luxembourg</option>
    <option value="Malta">Malta</option>
    <option value="Netherlands">Netherlands</option>
    <option value="Poland">Poland</option>
    <option value="Portugal">Portugal</option>
    <option value="Romania">Romania</option>
    <option value="Slovakia">Slovakia</option>
    <option value="Slovenia">Slovenia</option>
    <option value="Spain">Spain</option>
    <option value="Sweden">Sweden</option>
  </select>
</div>

  
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
     My products
      </h1>
      
      <h3>
<a href="/start-page2"> Add new end point</a>     </h3>

      <p>
        <div class="moj-search">

  <form action="#" method="post">

    <div class="govuk-form-group">
      <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
        Find an endpoint
      </label>

      <div id="search-hint" class="govuk-hint moj-search__hint ">
        You can search by product, product ID or organisation name
      </div>

      <input class="govuk-input moj-search__input " id="search" name="search" type="search" aria-describedby="search-hint">

    </div>

    <button type="submit" class="govuk-button moj-search__button " data-module="govuk-button">
      Search
    </button>

  </form>
</div>

      </p>
     <table class="govuk-table" data-module="moj-sortable-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">

      <th scope="col" class="govuk-table__header" aria-sort="ascending">Product Name</th>

      <th scope="col" class="govuk-table__header" aria-sort="none">Originator</th>

      <th scope="col" class="govuk-table__header" aria-sort="none">Request type</th>


    </tr>
  </thead>

  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">Aconcagua</td>

      <td class="govuk-table__cell" data-sort-value="6961">6,961 meters</td>

      <td class="govuk-table__cell">South America</td>


    </tr>

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">Denali</td>

      <td class="govuk-table__cell" data-sort-value="6194">6,194 meters</td>

      <td class="govuk-table__cell">North America</td>

    </tr>

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">Elbrus</td>

      <td class="govuk-table__cell" data-sort-value="5642">5,642 meters</td>

      <td class="govuk-table__cell">Europe</td>

    </tr>

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">Everest</td>

      <td class="govuk-table__cell" data-sort-value="8850">8,850 meters</td>

      <td class="govuk-table__cell">Asia</td>

    </tr>

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">Kilimanjaro</td>

      <td class="govuk-table__cell" data-sort-value="5895">5,895 meters</td>

      <td class="govuk-table__cell">Africa</td>

    </tr>

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">Puncak Jaya</td>

      <td class="govuk-table__cell" data-sort-value="4884">4,884 meters</td>

      <td class="govuk-table__cell">Australia</td>

    </tr>

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">Vinson</td>

      <td class="govuk-table__cell" data-sort-value="4897">4,897 meters</td>

      <td class="govuk-table__cell">Antarctica</td>

    </tr>

  </tbody>
</table>

    </div>

  </div>
{% endblock %}
