{% extends 'layout.html' %}

{% block pageTitle %}
  Content page template - NHS prototype kit
{% endblock %}

{% block beforeContent %}


{% from 'breadcrumb/macro.njk' import breadcrumb %}

{{ breadcrumb({
  items: [
    {
      href: "/index",
      text: "Home"
    },
    {
      href: "#",
      text: "Level two"
    }
  ],
  href: "#",
  text: "Level three"
}) }}


                </div>
                    <div class="nhsuk-width-container">
                        <main id="main-content" role="main" class="nhsuk-main-wrapper--s">
                            

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <h1>My applications and teams</h1>
    </div>
</div>

<div class="nhsuk-grid-row nhsuk-u-margin-bottom-6">
    <div class="nhsuk-grid-column-full">
        <div class="tabs-nav--2tabs">
            <ul class="tabs-nav" role="tablist">
                <li class="tabs-nav__item tabs-nav__item--active" role="tab">
                    <span>My applications</span>
                </li>

                <li class="tabs-nav__item tabs-link tabs-nav__item">
                    <a id="my-teams-tab-link" data-id="users-tab" class="tabs-link" role="tab" href="/MyApplications/MyTeams">My teams</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <h2>My applications</h2>
        <p>Register your applications in our test and production environments.</p>
    </div>
</div>

<a role="button" class="nhsuk-button" href="/MyApplications/AddApplication">Add new application</a>

<div class="nhsuk-grid-row nhsuk-u-margin-bottom-3">
    <div class="nhsuk-grid-column-full">
            <p>No applications found</p>
    </div>
</div>

                        </main>
                    </div>
            </div>
             

  </body>
</html>
{% endblock %}