{% extends 'layout.html' %}

{% block pageTitle %}
  Content page template - NHS prototype kit
{% endblock %}

{% block beforeContent %}


{% from 'breadcrumb/macro.njk' import breadcrumb %}

{{ breadcrumb({
  items: [
    {
      href: "/index",
      text: "Home"
    },
    {
      href: "/product-list",
      text: "My products"
    }
  ],
  href: "#",
  text: "[Product1]"
}) }}


      


      
        <div class="nhsuk-width-container ">
          
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a data-id="breadcrumbs-home" class="nhsuk-breadcrumb__link" href="index">Home</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="index">Organisations</a></li>
            <li class="nhsuk-breadcrumb__item">UK Health Security Agency</li>
        </ol>
    </div>
</nav>

          <main class="nhsuk-main-wrapper nhsuk-main-wrapper--s" id="maincontent" role="main">
            

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-width-container">

            
                  <h1 class="nhsuk-page-heading nhsuk-u-margin-bottom-0">
                      UK Health Security Agency   
                      <span><a class="nhsuk-button-medium--danger" role="button" href="">Delete Organisation</a></span>
                  </h1>
                  <div class="nhsuk-u-margin-bottom-6"><a href="" class="nhsuk-link">Edit</a></div>
  
      <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">
              <h2>Type: Developer</h2>
          </div>
      </div>
      <div class="nhsuk-grid-row nhsuk-u-margin-bottom-5">
          <div class="nhsuk-grid-column-full">
                  <h2>Products:</h2>
                      <a id="add-product-button" role="button" class="nhsuk-button-secondary" href="">Add product</a>
                  <div id="product-table_wrapper" class="dataTables_wrapper no-footer"><table id="product-table" class="nhsuk-table-responsive dataTable no-footer">
                      <thead class="nhsuk-table__head">
                          <tr class="nhsuk-table__row"><th class="nhsuk-table__header sorting sorting_asc" tabindex="0" aria-controls="product-table" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Product name: activate to sort column descending" style="width: 460.875px;">Product name</th><th class="nhsuk-table__header sorting" tabindex="0" aria-controls="product-table" rowspan="1" colspan="1" aria-label="APIs: activate to sort column ascending" style="width: 75.1719px;">APIs</th><th class="nhsuk-table__header sorting" tabindex="0" aria-controls="product-table" rowspan="1" colspan="1" aria-label="Date created: activate to sort column ascending" style="width: 188.922px;">Date created</th><th class="nhsuk-table__header sorting" tabindex="0" aria-controls="product-table" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 107.031px;">Status</th></tr>
                      </thead>
                      <tbody class="nhsuk-table__body">
                              
                      <tr class="nhsuk-table__row odd">
                                  <td class="nhsuk-table__cell sorting_1">
                                      <span class="nhsuk-table-responsive__heading">Product name </span><a href="">Emerging Infections and Zoonoses</a>
                                  </td>
                                  <td class="nhsuk-table__cell">
                                      <span class="nhsuk-table-responsive__heading">APIs </span>PDS
                                  </td>
                                  <td class="nhsuk-table__cell" data-sort="20220413">
                                      <span class="nhsuk-table-responsive__heading">Date created </span>13/04/2022
                                  </td>
                                  <td class="nhsuk-table__cell">
                                      <span class="nhsuk-table-responsive__heading">Status </span>Dormant
                                  </td>
                              </tr></tbody>
                  </table></div>
          </div>
      </div>
      <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">
  
              <h2>Users:</h2>
                  <a role="button" class="nhsuk-button-secondary" href="">Assign Assessor/Approver to Organisation</a>
                          <a role="button" class="nhsuk-button-secondary" href="">Add user</a>
              <table id="user-table" class="nhsuk-table-responsive">
                  <thead class="nhsuk-table__head">
                      <tr class="nhsuk-table__row">
                          <th class="nhsuk-table__header">Name</th>
                          <th class="nhsuk-table__header">Email</th>
                          <th class="nhsuk-table__header">Role</th>
                          <th class="nhsuk-table__header">Date created</th>
                          <th class="nhsuk-table__header">Status</th>
                      </tr>
                  </thead>
                  <tbody class="nhsuk-table__body">
                          <tr class="nhsuk-table__row">
                                  <td class="nhsuk-table__cell">
                                      <span class="nhsuk-table-responsive__heading">Name </span>
                                      <a href="">Zoe Gibney</a>
                                  </td>
                              <td class="nhsuk-table__cell">
                                  <span class="nhsuk-table-responsive__heading">Email </span>Zoe.Gibney@phe.gov.uk
                              </td>
                              <td class="nhsuk-table__cell">
                                  <span class="nhsuk-table-responsive__heading">Role </span>Account Manager
                              </td>
                              <td class="nhsuk-table__cell">
                                  <span class="nhsuk-table-responsive__heading">Date created </span>13/04/2022
                              </td>
                              <td class="nhsuk-table__cell">
                                  <span class="nhsuk-table-responsive__heading">Status </span>Inactive
                              </td>
                          </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>

  </div>
</div>

          </main>
        </div>
      

      
  <footer role="contentinfo">
  <div class="nhsuk-footer-container">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <div class="nhsuk-footer">
          
              <ul class="nhsuk-footer__list">
                  <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item">
                    <a class="nhsuk-footer__list-item-link" href="/">Home</a>
                  </li>
                  <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item">
                    <a class="nhsuk-footer__list-item-link" href="/page-example">Example page</a>
                  </li>
              </ul>
              <div>
                <p class="nhsuk-footer__copyright">&copy; NHS England</p>
              </div>
      </div> 
          
    </div> 
  </div> 
</footer>



    
  
    <!-- Custom JavaScript files can be added to this file -->
    <script src="main.js" type="text/javascript"></script>
    <!-- For adding page specific JavsScript -->
    
  


  </body>
</html>
{% endblock %}
