{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Product page - Digital Onboarding Service - NHS
{% endblock %}

{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Digital Onboarding Service",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}

<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a data-id="breadcrumbs-home" class="nhsuk-breadcrumb__link" href="">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Products</a></li>
      <li class="nhsuk-breadcrumb__item">Product X</li>
    </ol>
  </div>
</nav>

{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row nhsuk-u-margin-bottom-4">
  <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-page-heading">
          <h1 class="nhsuk-u-margin-bottom-0">
              <span>Product X</span>
          </h1>
              <span>
                  <a href="">Change name</a>
              </span>
      </div>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <p class="nhsuk-body-l">
      The onboarding process is arranged into stages. Each stage contains one or more sections with questions relating to onboarding requirements.
    </p>
    <p>
      Once you have completed all questions in a section, you can submit your answers for us to assess.
    </p>
    <p class="nhsuk-body">Before you start, read the <a class="nhsuk-link" href="" target="_blank">onboarding process (opens in a new tab)</a> guidance.</p>

    <div class="nhsuk-grid-row nhsuk-u-margin-top-6">
      <div class="nhsuk-grid-column-full">  
         
        <h2 class="nhsuk-heading-l">Check your eligibility</h2>                            

          <table>
              <thead>
                  <tr>
                      <th>Name</th>          
                      <th class="nhsuk-u-text-align-right">Status</th>                    
                  </tr>
              </thead>
              <tbody>                              
                <tr>
                  <td>
                    <a href="">Product details</a>
                  </td>
                  <td class="nhsuk-u-text-align-right">
                    <strong class="nhsuk-tag nhsuk-tag--green" style="white-space: nowrap;">
                      Approved
                    </strong>
                  </td>                           
                </tr> 
                <tr>
                  <td>
                    <a href="">Organisation details</a>
                  </td>
                  <td class="nhsuk-u-text-align-right">
                    <strong class="nhsuk-tag nhsuk-tag--green" style="white-space: nowrap;">
                      Approved
                    </strong>
                  </td>  
                </tr>
                <tr>
                  <td>
                    <a href="">Use case for Message Exchange for Social Care and Health (MESH) API </a>
                  </td>
                  <td class="nhsuk-u-text-align-right">
                    <strong class="nhsuk-tag nhsuk-tag--green" style="white-space: nowrap;">
                      Approved
                    </strong>
                  </td>  
                </tr>
              </tbody>
           </table>

          <h2 class="nhsuk-heading-l">Complete API assurance</h2>                            

          <table class="nhsuk-table nhsuk-u-margin-bottom-3">
              <thead>
                  <tr>
                      <th>API name</th>          
                      <th class="nhsuk-u-text-align-right">Status</th>                    
                  </tr>
              </thead>
              <tbody>                              
                <tr>
                  <td>
                    <a href="">Message Exchange for Social Care and Health (MESH) API</a>
                  </td>
                  <td class="nhsuk-u-text-align-right">
                    <div data-id="section-status ">
                      <strong class="nhsuk-tag nhsuk-tag--grey" style="white-space: nowrap;">
                        In progress
                      </strong>
                    </div>
                  </td>                           
                </tr> 
              
              </tbody>
          </table>

          <button class="nhsuk-button nhsuk-button--secondary">Add another API</button>  

          <h2 class="nhsuk-heading-l nhsuk-u-margin-top-3">Get access</h2>                            
          <p>Once the API assurance has been approved you need to sign a connection agreement to get access to the production API. Your connection agreements will be emailed to you to sign.</p>
      
          <details class="nhsuk-details nhsuk-u-margin-top-9">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Additional documents
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>If you are asked to provide supporting documents about your company or product, select Add document to upload.</p>
              <button class="nhsuk-button nhsuk-button--secondary" type="submit">
                Add document
              </button>
            </div>
          </details>

       </div>
    </div>
  </div>

  <div class="nhsuk-grid-column-one-third nhsuk-u-text-align-right">    
    <div class="nhsuk-grid-column-full nhsuk-u-text-align-left">
      <ul class="nhsuk-list">
        <li>
            <span class="nhsuk-u-font-size-14">Organisation</span><br>
            <a href="">Organisation ltd</a>
        </li>
      </ul>
    </div>  
  </div>
</div>



{% endblock %}
