
<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Design and build digital services for the NHS. Things you need to make consistent, usable services that put people first." />

    <title>NHS digital service manual</title>

    <link rel="stylesheet" href="/css/main.css">

    <script src="/js/main.min.js" defer></script>

    <!-- Cookie consent -->
    <script src="/js/cookies.min.js" data-policy-url="/cookie-policy" defer></script>

    <!-- Adobe Analytics -->
    
      <!-- Data Layer -->
      <script>
  window.digitalData = {"page":{"pageInfo":{"pageName":"nhs:manual"},"category":{}}};
</script>

      <script src="https://assets.adobedtm.com/launch-ENe7f6cdd7cc05409b86547d9153429788.min.js" type="text/plain" data-cookieconsent="statistics" async></script>
    

    <!-- Verify domain with Google -->
    <meta name="google-site-verification" content="Prj4LS7KX0amTkqVrOlnEyldVIjzJqbnXgPL1zbHocM" />

    <link href="https://www.nhs.uk/" rel="preconnect">
    <link href="https://assets.nhs.uk/" rel="preconnect" crossorigin>

    <link rel="shortcut icon" href="/nhsuk-frontend/assets/favicons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/nhsuk-frontend/assets/favicons/apple-touch-icon-180x180.png">
    <link rel="mask-icon" href="/nhsuk-frontend/assets/favicons/favicon.svg" color="#005eb8">
    <link rel="icon" sizes="192x192" href="/nhsuk-frontend/assets/favicons/favicon-192x192.png">
    <meta name="msapplication-TileImage" content="/nhsuk-frontend/assets/favicons/mediumtile-144x144.png">
    <meta name="msapplication-TileColor" content="#005eb8">
    <meta name="msapplication-square70x70logo" content="/nhsuk-frontend/assets/favicons/smalltile-70x70.png">
    <meta name="msapplication-square150x150logo" content="/nhsuk-frontend/assets/favicons/mediumtile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="/nhsuk-frontend/assets/favicons/widetile-310x150.png">
    <meta name="msapplication-square310x310logo" content="/nhsuk-frontend/assets/favicons/largetile-310x310.png">

    <meta property="og:url" content="https://service-manual.nhs.uk"/>
    <meta property="og:site_name" content="nhs.uk"/>
    <meta property="og:title" content="NHS digital service manual"/>
    <meta property="og:description" content="Design and build digital services for the NHS. Things you need to make consistent, usable services that put people first."/>
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="en_GB"/>
    <meta property="og:image" content="https://service-manual.nhs.uk/assets/open-graph.png"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@nhsuk">
    <meta name="twitter:creator" content="@nhsuk">
    <meta name="twitter:image:alt" content="nhs.uk">

  </head>

  <body>
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>

    
  



  <div class="nhsuk-navigation-container">
    <nav class="nhsuk-navigation" id="header-navigation" role="navigation" aria-label="Primary navigation">
      <ul class="nhsuk-header__navigation-list">
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link"  href="/service-standard">
            NHS service standard
          </a>
        </li>
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link"  href="/design-system">
            Design system
          </a>
        </li>
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link"  href="/content">
            Content guide
          </a>
        </li>
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link"  href="/accessibility">
            Accessibility
          </a>
        </li>
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link"  href="/community-and-contribution">
            Community and contribution
          </a>
        </li>
        <li class="nhsuk-header__navigation-item nhsuk-header__navigation-item--home">
          <a class="nhsuk-header__navigation-link"  href="/">
            Home
          </a>
        </li>
        <li class="nhsuk-mobile-menu-container">
          <button class="nhsuk-header__menu-toggle nhsuk-header__navigation-link" id="toggle-menu" aria-expanded="false">
            <span class="nhsuk-u-visually-hidden">Browse</span>
            More
            <svg class="nhsuk-icon nhsuk-icon__chevron-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
              <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
            </svg>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>




    

<main id="maincontent" role="main">

  <section class="nhsuk-hero">
    <div class="nhsuk-width-container nhsuk-hero--border app-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <div class="nhsuk-hero__wrapper app-hero__wrapper">
            <h1 class="nhsuk-u-margin-bottom-4">Design and build digital services for the NHS</h1>
            <p class="nhsuk-body-l nhsuk-u-margin-bottom-1">Use the service manual to build consistent, usable services that put people first. Learn from the research and experience of other NHS teams.</p>
          </div>
        </div>
        <div class="nhsuk-grid-column-one-third app-latest-update">
          <div class="nhsuk-card app-card--transparent nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-0">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/whats-new">What's new</a></h2>
              <p class="nhsuk-card__description">Added a <a href="/design-system/components/task-list">task list component</a> and a pattern to <a href="/design-system/patterns/complete-multiple-tasks">help users complete multiple tasks</a>.</p>
              <p class="nhsuk-card__description">New <a href="/community-and-contribution/community-resources">community resources page</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="nhsuk-section">
    <div class="nhsuk-width-container app-width-container">
      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-full nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <strong class="nhsuk-tag nhsuk-u-margin-bottom-0 nhsuk-u-margin-right-3">
                WCAG 2.2
              </strong>
              <h2 class="nhsuk-card__heading nhsuk-heading-xs nhsuk-u-margin-bottom-0 nhsuk-u-display-inline-block nhsuk-u-font-weight-normal"><a href="/accessibility/new-criteria-in-wcag-2-2">Check your service meets the new accessibility requirements</a></h2>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/standards-and-technology">Standards and technology</a></h2>
              <p class="nhsuk-card__description">Check you're working to best practice from the start</p>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/design-system">Design system</a></h2>
              <p class="nhsuk-card__description">Build consistent, accessible user interfaces</p>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/content">Content guide</a></h2>
              <p class="nhsuk-card__description">How to create content for digital NHS services</p>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/accessibility">Accessibility</a></h2>
              <p class="nhsuk-card__description">Make NHS services accessible for everyone</p>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/design-system/design-principles">Design principles</a></h2>
              <p class="nhsuk-card__description">These principles guide all of our design</p>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="/community-and-contribution">Community and contribution</a></h2>
              <p class="nhsuk-card__description">Help grow and improve the service manual</p>
            </div>
          </div>
        </li>
      </ul>
      <hr class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-6">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <h2>Support</h2>
          <p>The manual is maintained by the <a href="/service-manual-team">service manual team at NHS England</a>. If you've got a question or want to feedback, you can <a href="/get-in-touch">get in touch</a>.</p>
        </div>
      </div>
    </div>
  </section>
</main>


    

    <footer role="contentinfo">
  <div class="app-footer__container nhsuk-footer-container">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <ul class="nhsuk-footer__list">
        <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item"><a class="nhsuk-footer__list-item-link" href="/accessibility-statement">Accessibility statement</a></li>
        <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item"><a class="nhsuk-footer__list-item-link" href="/cookie-policy">Cookie policy</a></li>
        <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item"><a class="nhsuk-footer__list-item-link" href="/get-in-touch">Get in touch</a></li>
        <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item"><a class="nhsuk-footer__list-item-link" href="/service-manual-team">Service manual team</a></li>
        <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item"><a class="nhsuk-footer__list-item-link" href="/site-map">Site map</a></li>
        <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item"><a class="nhsuk-footer__list-item-link" href="/terms-and-conditions">Terms and conditions</a></li>
        <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item"><a class="nhsuk-footer__list-item-link" href="/whats-new">What's new</a></li>
        <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item"><a class="nhsuk-footer__list-item-link" href="/your-privacy">Your privacy</a></li>
      </ul>
      <div>
        <p class="nhsuk-footer__copyright">&copy; NHS England</p>
      </div>    
    </div>
  </div>
  <div class="app-ogl-footer">
    <div class="nhsuk-width-container app-width-container">
      <p class="app-ogl-footer--text">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 483.2 195.7" height="17" width="41" focusable="false" >
          <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"></path>
        </svg>
        All content is available under the <a class="nhsuk-footer__list-item-link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated.
      </p>
    </div>
  </div>
</footer>


    
  </body>

</html>
